%h1
	%a{ href: "/" } Sitex Blog

%ul
	%li
		= link_to 'Автор', '/pages/about.html'
	%li
		= link_to 'Услуги', '/pages/services.html'
	%li
		= link_to 'Портфолио', '/pages/portfolio.html'

%h2
	Рубрики

%ul
	%li
		= link_to 'FrontEnd', '/tags/frontend.html'
	%li
		= link_to 'BackEnd', '/tags/backend.html'
	%li
		= link_to 'Primer', '/tags/primer.html'
	%li
		= link_to 'Middleman', '/tags/middleman.html'
